.overlap {
  background-position: center;
  background-size: cover;
  height: 162px;
  width: 100%;
}

.recipe_image {
  display: none;
}

.recipe_title {
  color: white;
  font-family: Epilogue-Black , Helvetica , Arial , sans-serif;
  font-size: 20px;
  font-weight: 900;
  left: 50%; /* Posiciona o elemento no meio horizontalmente */
  letter-spacing: 2.1px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 80px;
  transform: translateX(-50%);

}

.category_card {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  left: 17px;
  position: absolute;
  top: 14px;
  width: auto;
}

.category_name {
  color: #19a48d;
  font-family: Epilogue-Bold , Helvetica , Arial , sans-serif;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
  top: 11px;
}


.recipe_category {
  left: 20px; /* Ajuste conforme necessário */
  position: absolute;
  top: 20px; /* Ajuste conforme necessário */
  z-index: 1; /* Coloca a categoria na frente da imagem */
}

.interactive_btn {
  position: absolute;
  right: 15px; /* Ajuste conforme necessário */
  top: 20px; /* Ajuste conforme necessário */
  z-index: 1; /* Coloca o botão na frente da imagem */
}

@media ( max-width : 250px ) {

  .category_card {
    left: 50%;
    transform: translateX(-50%);
  }

  .interactive_btn {
    left: 50%;
    right: 0;
    top: 50px;
    transform: translateX(-50%);
  }
}

