.overlap {
  background-position: center;
  background-size: cover;
  height: 162px;
  width: 100%;
}

.recipe_image {
  display: none;
}

.recipe_title {
  color: white;
  font-family: Epilogue-Black , Helvetica , Arial , sans-serif;
  font-size: 20px;
  font-weight: 900;
  left: 50%; /* Posiciona o elemento no meio horizontalmente */
  letter-spacing: 2.1px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 80px;
  transform: translateX(-50%);

}

.category_card {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  left: 17px;
  position: absolute;
  top: 14px;
  width: auto;
}

.category_name {
  color: #19a48d;
  font-family: Epilogue-Bold , Helvetica , Arial , sans-serif;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
  top: 11px;
}


.recipe_category {
  left: 20px; /* Ajuste conforme necessário */
  position: absolute;
  top: 20px; /* Ajuste conforme necessário */
  z-index: 1; /* Coloca a categoria na frente da imagem */
}

.interactive_btn {
  position: absolute;
  right: 15px; /* Ajuste conforme necessário */
  top: 20px; /* Ajuste conforme necessário */
  z-index: 1; /* Coloca o botão na frente da imagem */
}

.instructionsTile {
  font-family: Epilogue-Regular , Helvetica , Arial , sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin: 0 1rem 1rem;
  margin-top: 1rem;
}

.instructions {
  background-color: white;
  border: 0.55px solid;
  border-color: #b1b1b1;
  border-radius: 5.35px;
  color: #1a1b1c;
  font-family: Epilogue-Regular , Helvetica , Arial , sans-serif;
  font-size: 14px;
  list-style: circle;
  margin: 0 13px;
  padding: 1em;
}

.videoTitle {
  font-family: Epilogue-Regular , Helvetica , Arial , sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin: 0 1rem 1rem;
  margin-top: 1rem;
}

.video {
  margin: 0 1rem 1rem;
}

@media ( max-width : 250px ) {

  .category_card {
    left: 50%;
    transform: translateX(-50%);
  }

  .interactive_btn {
    left: 50%;
    right: 0;
    top: 50px;
    transform: translateX(-50%);
  }
}

@media ( max-width : 600px ) {

  .video {
    width: 500px;
  }
}

@media ( max-width : 400px ) {

  .video {
    height: 205px;
    width: 305px;
  }
}

