header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;


}

.pageIcon {
  margin-bottom: 15px;
  margin-top: 33px;
}

.search_icon {
  margin-right: 16px;
}

.container_header {
  background-color: #19a48d;
  display: flex;
  height: 52px;
  justify-content: space-around;
  padding-top: 6px;
  top: 0;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
}

.appName {
  margin-left: 20px;
}

.container_namePage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titlePage {
  font-family: Epilogue , sans-serif;
  font-weight: 900;

}
