.container_recipes {
  cursor: grab;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 4em;
  overflow-x: scroll;
}

.container_recipes:hover {
  cursor: grabbing; /* Altera o cursor enquanto estiver arrastando */
}

.recipeImg {
  border-radius: 5px 5px 0 0;
  width: auto;
}

.recipeCard {
  border: 0.518px solid #b1b1b1;
  border-radius: 5px;
  color: #1a1b1c;
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: auto;
  margin: 8px;
  text-decoration: none;

}

.name_recipe {
  font-size: 14px;
  margin-left: 16px;
  margin-top: 12px;
}

@media ( min-width : 501px ) {

  .recipeCard {
    font-size: 20px;
    height: auto;
    width: 250px;

  }

  .recipeImg {
    height: auto;
    width: auto;
  }

}

@media ( max-width : 500px ) {

  .recipeCard {
    font-size: 12px;
    width: 163.204px;


  }

  .recipeImg {
    height: auto;
    width: auto;
  }
}
